.titulo h1 {
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .grid-item {
    border: 1px solid #ccc; /* Solo para visualización */
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  